<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.speed.invisiwidget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="MyWidgetProvider" >
            <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.speed.invisiwidget.MyWidgetProvider.ACTION_WIDGET_OPEN_APP" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
    </application>

</manifest>